/* BACKGROUNDS */
$primary-color: white;
$secondary-color: #93c8eb;
$secondary-color_lighter: #d4edfd;
$tertiary-color: blue;

/* TITLE */
$TitleColor: #f8c725;
$DarkerTitle: #d4af37;

/* TEXTS */
$text-color: #382c25;

/* POLICES */
$TitlePolice: 'Fjalla One';
$ParagraphePolice: 'Gloock';
