/* REALISATION */
.realisation {
  /* Size */
  @include FullSize;

  /* Layout */
  margin: 0 auto;
  margin-top: 20px;

  & ul {
    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Layout */
    margin: 0 auto;
    margin-bottom: 20px;

    @include Phone {
      /* Display */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 20px;
    }

    @include SmallPhone {
      /* Display */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 20px;
    }
  }

  & li {
    /* Size */
    width: 100%;

    /* Layout */
    margin: 0;
  }

  &_button {
    /* Size */
    width: 100%;

    /* Layout */
    padding: 10px;

    /* Decoration */
    @include BackgroundLinearGradientLighter;
    border: none;

    @include Phone {
      /* Size */
      width: 100%;
    }

    &:hover {
      /* Decoration */
      @include BackgroundLinearGradientLighterReverse;
      box-shadow: 3px 3px 3px lightgrey;

      @include Shake;
    }
  }

  & h2 {
    /* Font */
    text-align: center;
  }
}
