/* BODY */
body {
  /* Size */
  width: 100%;
  height: 100%;
  max-width: 2500px;
  min-width: 200px;

  /* Position */
  z-index: 1;

  /* Display */
  @include FlexCenter;
  flex-direction: column;

  /* Layout */
  margin: 0 auto;

  /* Font */
  font-family: $ParagraphePolice;

  /* Decoration */
  background-color: $primary-color;

  @include Phone {
    /* Size */
    @include FullSize;
  }

  @include SmallPhone {
    /* Size */
    @include FullSize;
  }

  /* TITLES */
  & h1,
  h2,
  h3,
  h4,
  h5 {
    /* Font */
    font-family: $TitlePolice;
  }

  /* PARAGRAPHES */
  & p {
    margin: 0;
    padding: 0;
  }

  /* LINKS */
  & a {
    /* Font */
    text-decoration: none;
    color: inherit;
  }

  /* LISTS */
  & ul {
    /* Layout */
    margin: 0 auto;
    padding: 0;

    /* Decoration */
    list-style: none;
  }
}

/* ROOT */
#root {
  /* Size */
  @include FullSize;

  /* Layout */
  margin: 0;
  padding: 0;
}
